@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


html, body, .main-cont {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

.main-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Left side of page */
.left-cont {
    background: url(./images/background.jpg);
    background-size: cover;
    flex: .5;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    justify-content: space-between;
}

.title {
    background-color: rgba(0, 0, 0, 0.527);
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 200px;
    font-family: 'Cinzel', serif;
}

img {
    height: 150px;
    padding: 20px;
}

/* Right side of page */
.right-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-text {
    flex: .4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
    font-weight: bolder;
    font-size: x-large;
    max-width: 900px;
}

.sign-up {
    background-color: white;
    flex: .4;
    padding-left: 50px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 8px #888888;
}

.sign-up p {
    font-size: larger;
    font-weight: bold;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}

.form-left, .form-right {
    flex: .35;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

.error {
    color: rgb(214, 61, 61);
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    font-weight: bold;
    gap: 10px;
}

.btn {
    color: white;
    background-color: #596D48;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: 0;
    border-radius: 10px;
    font-size: large;
}

.btn:hover {
    background-color:#405330;
}

a {
    text-decoration: none;
    color: #596D48;
}

